@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --cor1: hsl(215, 51%, 70%);
    --cor2: hsl(178, 100%, 50%);
    --cor3: hsl(217, 54%, 11%);
    --cor4: hsl(216, 50%, 16%);
    --cor5: hsl(215, 32%, 27%);
    --cor6: hsl(0, 0%, 100%);
}

body {
    background-color: hsl(217, 54%, 11%);
    
    
}

.container {
    max-width: 330px;
    margin: 0 auto;
    
}

.wrapper {
    margin: 2em 1em;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.459);
    border-radius: 15px;
}

.img-top {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.img-top img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.img-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    
}

.img-overlay img{
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-top:hover .img-overlay{
    cursor: pointer;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: block;
}

.text {
    margin-bottom: 20px;
    
}
.title {
    display: block;
    font-weight: bold;
    color: var(--cor6);
    margin: 12px 0px;
    font-size: 20px;
    transition-duration: 0.3s;
}

.title:hover {
    cursor: pointer;
    color: var(--cor2);
}

.info {
    color: var(--cor1);
    opacity: 60%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eth {
    display: flex;
    color: var(--cor2);
    
}

.eth strong, .clock span{
    margin-left: 8px;
}

.clock {
    display: flex;
    color: var(--cor1);
}

.clock span {
    opacity: 60%;
}

hr {
    border-color: hsl(215, 32%, 27%);
    opacity: 40%;
    margin: 18px 0px;
}

.author img {
    width: 30px;
    height: 30px;
    border: 1px solid var(--cor6);
    border-radius: 50%;
    margin-right: 10px;
}

.author {
    display: flex;
    align-items: center;
    color: var(--cor1);
    margin-bottom: 10px;
}

.author strong {
    transition-duration: 0.3s;
    color: var(--cor6);
}

.author strong:hover {
    cursor: pointer;
    color: var(--cor2);
}

